#plateau {
  background-color: #ccc0c0;
  width: 100vw;
  height: 500px;
}

#plateau {
  position: relative;
  overflow: hidden;
}

#personnage {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  color: red;
  font-size: 2rem;
}
